.chatTwo_Wrapper {
  display: flex;
  margin-top: 10px;
  padding: 20px;
  cursor: pointer;
  color: rgb(254, 254, 254);
  align-items: center;
  border-radius: 10px;
  word-break: break-word;
}

.chatTwo_Wrapper:hover {
  background-color: #303030;
}

.avatar {
  margin-right: 8px;
}

.recipient_info {
  color: black;
  margin-left: 15px;
}
.recipient_info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 300;
  color: #f6f6f6;
}
