.chatTwo_Wrapper {
  display: flex;
  margin-top: 10px;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  border-bottom: 1px solid #f6f6f6;
  word-break: break-word;
}

.chatTwo_Wrapper:hover {
  background-color: #ffffff;
}

.avatar {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.recipient_info {
  color: black;
  margin-left: 15px;
}
.recipient_info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;
  color: black;
}
