/* .chitthi_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  border-radius: 10px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6rem);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #e6e5ea;
} */

.avatar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.chitthi_body {
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(6rem);
  background-color: #242424;
  border-radius: 10px;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(29, 29, 29);
  padding: 10px;
  width: 85vw;
  height: 80vh;
}

.chitthi_left {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  border-radius: 10px;
  max-width: 3.5rem;
  padding: 5px;
}

.chitthi_top {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.chitthi_logo {
  justify-self: center;
  height: 2rem;
  width: 2rem;
}

.chitthi_center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  flex-direction: column;
}

.Chats {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}

.Chats>h5 {
  font-size: 11px;
  font-weight: 100;
  padding-top: 5px;
}

.Chats:hover {
  background-color: #34c85a;
}

.Rooms {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
}

.Rooms>h5 {
  font-size: 11px;
  font-weight: 100;
  padding-top: 5px;
}

.Rooms:hover {
  background-color: #34c85a;
}

.chitthi_buttom {
  display: flex;
  justify-content: flex-end;
  /* background-color: white; */
  flex-direction: column;
}

.logout_btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #303030;
  align-items: center;
  border-radius: 10px;
  padding-right: 20px;
  height: 60px;
  width: 60px;
  border-color: #000000;
  margin-top: 10px;
}

.logout_btn>h6 {
  margin-top: 5px;
  font-size: 11px;
  font-weight: 100;
}

.logout_btn:hover {
  background-color: #ff2929;
}

.Create_room {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #303030;
  align-items: center;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.Create_room>h5 {
  font-size: 11px;
  font-weight: 100;
}

.chitthi_buttom>.MuiSvgIcon-root {
  padding: 15px;
  color: #bfbfc1;
}

.chitthi_center>.MuiSvgIcon-root {
  padding: 15px;
  color: #bfbfc1;
}

/* CHITTHI LEFT SECTION */

.chitthi_wrapper_left {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 21rem;
}

.add_conversation {
  display: flex;
  margin-bottom: 2px;
  justify-content: space-evenly;
}

.Conversation {
  margin-left: 10px;
}

.add_conversation>button {
  border: none;
  background: black;
  cursor: pointer;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  height: 3rem;
  width: 18rem;
}

.conversation_btn {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation_btn>h5 {
  font-size: 20px;
  font-weight: 300;
}

.chat_heading {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_chat>h1 {
  color: #bfbfc1;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}

.search_bar {
  display: flex;
  height: 3.5rem;
  width: 21rem;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #303030;
}

.search_bar>input {
  background-color: #242424;
  color: rgb(255, 255, 255);
  flex: 1;
  border-radius: 5px;
  height: 2.5rem;
  width: 10rem;
  font-size: 18px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 5px;
  border: none;
  outline-width: 0;
}

.user_search {
  padding-right: 5px;
}

.chats_holder {
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* CHITTHI CENTER SECTION */
.chitthi_wrapper_center {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 60%;
}

.chat_screen {
  padding-top: 10px;
  padding-bottom: 1rem;
  overflow-y: scroll;
  width: 100%;
}

.chat_screen>p {
  font-size: 16px;
  font-weight: 100;
}

.chat_timestamp {
  font-size: 6px;
  font-weight: 100;
}

.chitthi_chat_footer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  background-color: #303030;
  margin-bottom: 10px;
  flex: 0.05;
  border-radius: 10px;
  width: 70%;
}

.add_docs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 0.1;
}

.input_bar {
  display: flex;
  flex: 0.8;
}

.emoji_send {
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* Header */

.chitthi_wrapper_center_top {
  display: flex;
  align-items: start;
  padding: 20px;
  background-color: #303030;
  border-radius: 10px;
  width: 95%;
}

.chitthi_wrapper_center_top_group {
  display: flex;
  align-items: start;
  padding: 5px;
  background-color: #303030;
  border-radius: 10px;
  width: 95%;
}

.chitthi_wrapper_center_top_left {
  display: flex;
  color: #303030;
  font-size: 12px;
  align-items: center;
}

.lastSeen {
  color: #bfbfc1;
  font-size: 14px;
  font-weight: 300;
}

.chat_message {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 25rem;
  word-break: break-word;
  background-color: #000000;
  color: rgb(255, 255, 255);
  width: fit-content;
}

.msg_avatar {
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin-right: 5px;
  margin-left: 5px;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.chat_user_name {
  font-size: 12px;
  font-weight: 100;
  margin-top: 5px;
}

/* .chat_message {
  font-size: 16px;
  font-weight: 200;
  margin-left: 5px;
} */

.chat_user_name_img {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.avatar_msg {
  display: flex;
  margin-top: 10px;
}

.chat_information {
  background-color: #242424;
  border-radius: 10px;
  width: 150px;
}

.information {
  background-color: #242424;
  border-radius: 10px;
  width: 150px;
}

.message {
  margin-left: 5px;
}

.group_user_name_img {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 5px;
}

.group_user_name_img>img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  border-radius: 50%;
}

.group_user_name_img>p {
  font-size: 12px;
  font-weight: 100;
  margin-top: 5px;
}

.chat_reciever {
  margin-left: auto;
  max-width: 25rem;
  align-items: flex-start;
  word-break: break-word;
  background-color: #34c85a;
}

.chat_reciever>p {
  font-size: 16px;
  font-weight: 200;
}

.chat_timestamp {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 10px;
}

.Form {
  display: flex;
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  /* width: 100%; */
}

.input_bar>form>button {
  display: flex;
}

.image_add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: #242424;
  border-radius: 10px;
  height: 3.2rem;
  width: 4rem;
}

.emoji_add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #242424;
  border-radius: 10px;
  height: 3.2rem;
  width: 4rem;
}

.emoji_wrapper {
  justify-items: center;
}

.input_bar>form>input {
  background-color: #242424;
  border-radius: 10px;
  height: 2rem;
  width: 27rem;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  outline-width: 0;
  overflow-y: scroll;
}

.Send_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  background-color: #242424;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  height: 3.2rem;
  width: 4rem;
}

/* CHITTHI RIGHT SECTION */

.chitthi_wrapper_right {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  color: black;
  width: 20%;
  border-radius: 0 10px 10px 0;
}

.user_profile {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-top: 0;
  margin-left: 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #303030;
  color: black;
}

.user_image {
  height: 112px;
  width: 112px;
  border-radius: 10px;
}

.info {
  margin-left: 10px;
  background-color: #242424;
  padding: 35px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.info>h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
}

.info>p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
}

.user_images {
  display: flex;
  flex-direction: column;
  background-color: #303030;
  border-radius: 10px;
  padding: 15px;
  margin-left: 10px;
  margin-top: 10px;
  margin-top: 5px;
  overflow-y: scroll;
}

.images_header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #303030;
}

.sub_heading_container {
  /* position: fixed; */
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.sub_heading_container>h3 {
  color: #ffffff;
  font-weight: 200;
  margin-right: 10px;
  font-size: 22px;
}

.down_arrow {
  margin-top: 5px;
}

.image_container_holder {
  display: flex;
}

.images_container {
  display: flex;
  flex-direction: row;
}

.both_users_images {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  width: fit-content;
}

.image {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.user_file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  margin-top: 5px;
}

.user_pinned_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  margin-top: 5px;
}

.emoji_tray {
  display: flex;
  flex: 1;
}

.emoji-picker-react {
  display: flex;
  flex: 1;
}

.send_Image_Container {
  display: inline-flex;
  /* Use inline-flex to size based on content */
  flex-direction: column;
  align-items: center;
  /* Center the content horizontally */
  object-fit: contain;
  max-width: 10rem;
  /* Limit maximum width */
  padding: 0.5rem;
  /* Add some padding for better spacing */
  background: rgba(0, 0, 0, 0.7);
  /* Optional: Add a subtle background */
  backdrop-filter: blur(6px);
  /* Adjusted to px for clarity */
  border-radius: 8px;
  /* Optional: Add rounded corners for aesthetics */
  margin-bottom: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Optional: Add a subtle shadow */
}

.send_Image_Container>h3 {
  padding-right: 15rem;
  padding-top: 0.7rem;
}

.send_Image_Container>img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cancel_btn {
  cursor: pointer;
}

.send_Image {
  display: flex;
  width: 25rem;
  object-fit: contain;
}

.send_Image>img {
  object-fit: cover;
  justify-content: end;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.user_file_heading {
  display: flex;
  flex-direction: row;
}

.user_file_heading>h3 {
  padding-right: 15.5rem;
  padding-top: 0.7rem;
}

.user_file_holder {
  display: flex;
}

.files_holder {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.autoScroll {
  margin-bottom: 10rem;
}