.login {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  backdrop-filter: blur(6rem);
  z-index: 3;
}

.login_heading {
  backdrop-filter: blur(6rem);
  font-size: 56px;
  font-weight: 400;
  margin-top: 2rem;
}

.login_wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(6rem);
  z-index: 4;
}

.image_container > img {
  height: 100%;
  width: 100%;
  /* margin-left: 10rem; */
  z-index: 5;
}

.login_container {
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  border: 1px solid #000;
  height: 500px;
  width: 400px;
  /* backdrop-filter: blur(6rem); */
  box-shadow: 0 10px 16px 0px rgba(0, 0, 0, 0.12);
  z-index: 5;
}

.login_text > h1 {
  color: #fff;
  font-weight: 300;
  margin: 20px;
}

.login_container > img {
  object-fit: contain;
  height: 200px;
  animation: move-up 3s infinite alternate;
}

.login_container > Button {
  height: 3rem;
  width: 15rem;
  margin: 10px;
  text-transform: inherit !important;
  background-color: #274df6;
  color: white;
}

.gradient_login {
  position: absolute;
  height: 32rem;
  width: 32rem;
  top: 21rem;
  left: 10rem;
  border-radius: 50%;
  animation: anim 10s linear infinite;
  background: linear-gradient(
    to right bottom,
    rgb(255, 72, 0),
    rgba(112, 0, 187)
  );
  z-index: -5;
}

.gradient_login2 {
  position: absolute;
  height: 32rem;
  width: 32rem;
  top: 23rem;
  right: 5rem;
  border-radius: 50%;
  animation: anim 10s linear infinite;
  background: linear-gradient(
    to right bottom,
    rgb(255, 72, 0),
    rgba(112, 0, 187)
  );
  z-index: -5;
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

/* background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

@keyframes anim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
    box-shadow: 0 -2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
      0 -2vmin 7vmin purple inset;
  }

  10% {
    border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
  }

  20% {
    border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
  }

  30% {
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
    box-shadow: -1vmin -2vmin 3vmin LightPink inset,
      -1vmin -2vmin 4vmin MediumPurple inset, 1vmin -1vmin 7vmin purple inset;
  }

  40% {
    border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
  }

  50% {
    border-radius: 100%;
    box-shadow: 0 2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
      0 2vmin 7vmin purple inset;
  }

  60% {
    border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
  }

  70% {
    border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
    box-shadow: 1vmin 1vmin 4vmin LightPink inset,
      2vmin -1vmin 4vmin MediumPurple inset, -1vmin -1vmin 5vmin purple inset;
  }

  80% {
    border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
  }

  90% {
    border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
  }
}
