@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(97, 97, 97, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(97, 97, 97, 0.5);
  border-radius: 20px;
  border: transparent;
}

::selection {
  background-color: rgb(0, 0, 0);
  color: white;
}
